.mainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 80%;
    margin-top: 50px;
    border-radius: 100px;
    height: 120px;
}

.imgContainer{
    height: 100px;
    width: 100px;
}

.imgDiv{
    height: 100px;
    width: 100px;
    object-fit: cover;

}

.homeContainer , .serviceContainer , .expertiseContainer , .contactContainer{
    font-size: 20px;
    font-weight: 500;
}

.contactDiv{
    background-color: rgb(0, 255, 170);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    color: white;
}